.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8vmin;
  pointer-events: none;

}

.App-header {
  color: #61dafb;
}

.container {
  padding: 10px 50px;
}

.nav-link {
  font-family: 'Roboto Mono', monospace;
  color: #5934f6;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 6px;

}


.nav-link:hover {
  border-left: 1px dotted #5934f6;
  border-right: 1px dotted #5934f6;
  margin-left: 0;
  margin-right: 5px;

}

.nav-item {
  padding-right: 1rem;
  padding-left: 1rem;
}

h3 {
  font-size: 21px;
  font-weight: normal;
  font-family: 'Cabin', sans-serif;
  color: #5934f6;
  /*background-image: linear-gradient(to right, rgba(255,0,0,0), #ddd6f9);*/
}

p {
  font-family: 'Cabin', sans-serif;
  color: #2AD4AC;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
}